
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Project Oasis</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/theme.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project Oasis</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/oasis/about/">About</a></li>
            <li><a href="/oasis/methodology/">Methodology</a></li>
            <li><a href="/oasis/contact/">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maps<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/oasis/business/">Businesses</a></li>
                <li><a href="/oasis/citizen/">Individuals</a></li>
                <li><a href="/oasis/indicator/">FFA Index</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h2 class="blog-title">/h2>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">About Project Oasis</h2>
            <p class="blog-post-meta">March 1, 2014 by <a href="#">Oasis Team</a></p>

            <p>On the surface, New York City appears to be a place where you can find virtually anything you need around every corner. A closer look, however, reveals that millions of New Yorkers have limited access to the most basic and essential commodity: fresh food. Food Deserts, or areas with disproportionate inaccessibility to healthy and fresh food, are a problem for as many as three million New Yorkers who are overwhelmingly concentrated in low-income neighborhoods.</p>

            <p>With this in mind, we set out to create Project Oasis.  Project Oasis is a new, interactive, up-to-date assessment of food deserts and healthy food availability throughout New York City.  Unlike past assessments, which provide a snapshot of the situation at one point in time, Project Oasis will be regularly updated as the city changes to be reflective of the current state of food availability, providing a relevant and useful tool for interested citizens and business people. </p>
            <p>Using data drawn from a variety of sources, Project Oasis aims to reflect the complete food profile of an area, incorporating grocery stores, restaurants, bodegas, farmer’s markets, etc. to create a unique Fresh Food Availability Index (FFA), quantifying the degree to which an area may or may not be a food desert.  </p>
          <hr>
            
    <div class="container">

      <div class="blog-header">
        <h2 class="blog-title"></h2>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">




    </div> <!-- /container -->

      <footer>
        <p>&copy; Project Oasis 2014</p>
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/docs.min.js"></script>
  </body>
</html>
