
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Project Oasis</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/theme.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project Oasis</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/oasis/about/">About</a></li>
            <li><a href="/oasis/methodology/">Methodology</a></li>
            <li><a href="/oasis/contact/">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maps<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/oasis/business/">Businesses</a></li>
                <li><a href="/oasis/citizen/">Individuals</a></li>
                <li><a href="/oasis/indicator/">FFA Index</a></li>
                </ul>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Project Oasis</h1>
        <p>Mapping NYC Food Deserts using an innovative indicator developed by NYU Students.</p>
        <p><a class="btn btn-primary btn-lg" href="/oasis/about/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>



    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Oasis for Business</h2>
          <p>The Oasis for Business map is a resource for existing and prospective business owners to understand the food resources in their area. The map includes information about zoning and tax incentive regions under the NYC FRESH program, existing grocery stores and bodegas in the area, and the population density by community district.</p>
          <p><a class="btn btn-default" href="/oasis/business/" role="button">View Map &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Oasis for Individuals</h2>
          <p>The Oasis for Citizens map is geared towards citizens who are interested in learning more about the food options in their own neighborhood or a prospective future neighborhood.  It includes up-to-date information on grocery stores, restaurants, farmer’s markets and bodegas.  We also encourage users to submit updates on establishments that may be classified incorrectly, missing from the map, or that have gone out of business since our latest update.</p>
          <p><a class="btn btn-default" href="/oasis/citizen/" role="button">View Map &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Fresh Food Availability Index (FFA)</h2>
          <p>The FFA map shows the calculated FFA across the city and can be compared and contrasted with demographic information such as population and median household income. As the cornerstone of our project, we hope that the FFA map will expose the inequality that exists in New York City when it comes to access to healthy and fresh food. </p>
          <p><a class="btn btn-default" href="/oasis/indicator/" role="button">View Map &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Project Oasis 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/docs.min.js"></script>
  </body>
</html>
