<!DOCTYPE html>
<html>
  <head>
    <title>Fresh Food Availability Index</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
    <style>
      html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
      }
    </style>

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
    <![endif]-->
  </head>
  <body>
    <div id="map"></div>

    <!-- include cartodb.js library -->
    <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>

    <script>   
      function main() {
        cartodb.createVis('map', 'http://ak4706.cartodb.com/api/v2/viz/ce8fbe52-a79a-11e3-9089-0edbca4b5057/viz.json', {
            shareable: true,
            title: false,
            description: true,
            search: true,
            tiles_loader: true,
            center_lat: 40.67,
            center_lon: -73.84,
            zoom: 10,
            layer_selector: true,
            legends: true
        })
        .done(function(vis, layers) {
          layers[1].setInteraction(true);
          layers[1].on('featureOver', function(e, pos, latlng, data) {
            cartodb.log.log(e, pos, latlng, data);
          });

          map = vis.getNativeMap();

        })
        .error(function(err) {
          console.log(err);
      
        });
     }; 

      window.onload = main;
</script>
<input type="range" class="distance" min="0" max="2000" step="50" value="350" />
<div id="map"></div>

  </body>
</html>
