
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Project Oasis</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/theme.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project Oasis</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/oasis/about/">About</a></li>
            <li class="active"><a href="/oasis/methodology/">Methodology</a></li>
            <li><a href="/oasis/contact/">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maps<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/oasis/business/">Businesses</a></li>
                <li><a href="/oasis/map/">Map</a></li>
                <li><a href="/oasis/indicator/">FFA Index</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h2 class="blog-title">/h2>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Methodology</h2>
            <p class="blog-post-meta">March 1, 2014 by <a href="#">Oasis Team</a></p>

            <p>
              In order to calculate the Fresh Food Availability Index (FFA), we counted up the number of farmers markets, healthy bodegas and grocery stores in the given polygon against the population, to compute the healthy score for an area.  We did the same for the unhealthy score, by counting up the number of unhealthy groceries and bodegas in the polygons.  We gave two separate scores for healthy and unhealthy, so that you could clearly see where a certain area lies on the spectrum both for healthy and unhealthy food, as opposed to calculating a ratio of the two.
            </p>
          <hr>

        <div class="container">

      <div class="blog-header">
        <h2 class="blog-title"></h2>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Data Cleaning</h2>
            <p class="blog-post-meta">March 2, 2014 by <a href="#">Oasis Team</a></p>
            <p>We used python to sort and clean over 15,000 records of food establishments in NYC. We then assigned the following scores to establishments with the associated keywords or franchise names:</p>
            <ul>
              <li>1: Whole Foods, Trader Joe’s, Fairway, Stop and Shop, Shop Rite, Union Market, Key Food, Costco, Pathmark, Target, Pioneer, Associated Market, Food Bazaar, C-Town, Bravo Supermarket, Fine Fare Supermarket, Met Foods, NSA Supermarket, Compare Foods, Foodtown, Shop Smart, Superior Markets
              <li>2: Fruit, Vegetable, and Produce</li>
              <li>3-9: Stores with keywords such as “Grocery”, “Deli”, and “Market”</li>
            </ul>
            <p>
            The bodega data, was taken from the website ilikenicethings.com/bodegas/ which tries to document every bodega in the city, using citizen science.  Right now they mainly have information for bodegas in Brooklyn and Manhattan, and therefore we used this as a supplement to our grocery store data.  They had the information in a kml format, which was not exportable.  We saved it as a xml and then converted it to a kml, and it worked well in CartoDB.  Like the grocery store data, we categorized anything with “fruit”, “vegetable”, or “produce” in the name as a healthy bodega, and everything else as an unhealthy bodega, to give an appropriate index score to each location.

            </p>
          <hr>
            
    <div class="container">

      <div class="blog-header">
        <h2 class="blog-title"></h2>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Data Sources</h2>
            <p class="blog-post-meta">March 24, 2014 by <a href="#">Oasis Team</a></p>

            <p>
            The following datasets and sources contributed to our analysis:
          <ul>
          <li>NYC Open Data: Farmer’s Markets, FRESH boundaries</li>
          <li>Pediacities: NYC Restaurants by Grade, Grocery Stores</li>
          <li>I Like Nice Things: Bodegas</li>
          <li>Social Explorer: American Community Survey (ACS) 2012 Household Income and Population estimations</li>
        </ul>
</p>
            <hr>



      <footer>
        <p>&copy; Project Oasis 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/docs.min.js"></script>
  </body>
</html>
