
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Project Oasis</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/theme.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Project Oasis</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/oasis/about/">About</a></li>
            <li class="active"><a href="/oasis/methodology/">Methodology</a></li>
            <li><a href="/oasis/contact/">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maps<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/oasis/business/">Businesses</a></li>
                <li><a href="/oasis/map/">Map</a></li>
                <li><a href="/oasis/restaurant/">Restaurant</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h2 class="blog-title">/h2>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Methodology</h2>
            <p class="blog-post-meta">March 1, 2014 by <a href="#">Oasis Team</a></p>

            <p>We studied the ratio of healthy and unhealthy options in a given area and came up with a new performance metric that quantified the availability of healthy and unhealthy foods throughout the city.  </p>
            <p>We focused on data that contained relevant information on businesses in New York City so we could distinguish between restaurants/fast food, grocery stores, supermarkets, and farmer’s markets. 
            </p>
          <hr>
            
    <div class="container">

      <div class="blog-header">
        <h2 class="blog-title"></h2>
        <p class="lead blog-description"></p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Data Sources</h2>
            <p class="blog-post-meta">March 2, 2014 by <a href="#">Oasis Team</a></p>

            <p>
            The data sources we used are as follows: 
          <ul>
          <li>NYC Open Data</li>
          <li>Pediacities</li>
          <li>NYC Business Census</li>
          <li>Census Tract Data</li>
          <li>Map Pluto</li>
        </ul>
</p>
            <p>Legal and privacy concerns were not an issue because we obtained the information from public open sources. We also checked each data source for license restrictions.
            </p>
            <hr>



      <footer>
        <p>&copy; Project Oasis 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/docs.min.js"></script>
  </body>
</html>
